* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #FAFAFA;
}

.cards-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.card {
    background: #FFF;
    height: 160px;
    margin: 20px 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.title {
    font-family: Arial, "Roboto";
    font-size: 1.5em;
}
